body,html {
  padding: 0;
  margin: 0;
  background-color: #878787;
}

header h1 {
  text-align: center;
  font-family: -apple-system, sans-serif;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

header {
  background-color: #878787;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  box-sizing: border-box;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: IndianRed;
  padding: 20px 70px;
}

#nav-bar a {
  font-family: 'Roboto', sans-serif;
  color: black;
  text-decoration: none;
}

#submit-button {
  background-color: black;
  color: white;
  padding: 2px 20px;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%;
  font-family: 'Roboto', sans-serif;
}

#article {
  padding: 2%;
  padding-top: 0%;
  background-color: white;
  width: 78.5%;
}

#title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}

#article h3 {
  font-family: Helvetica;
  font-size: 20px;
  padding: 20px 0px;
  font-weight: bold;
  font-style: italic;
}


#related {
  padding-top: 0%;
  background-color: IndianRed;
  width: 15%;
  text-align: left;
  padding: 0 10px;
}

#related h1 {
  text-align: center;
  font-size: 40px;
  font-style: italic;
}

.links {
  padding-right: 20px;
}
