/*XML CSS Styling*/

SETLIST {
	display: block;
	background-color: #2a2a2a;
	width: 100%;

}

song {
	display: block;
  	margin-bottom:  20pt;
}

songtitle {
	display: block;
	font-size: 30pt;
  	color: #20b9c6;
}

artist {
	display: block;
	font-size: 20pt;
  	color: #A1378C
}

genre {
	display: block;
	font-size: 20pt;
	color: #1E9745

}

year {
	display: block;
	font-size: 20pt;
  	color: #fff;
}
